.container {
  margin: 0px auto;
  max-width: 73.125em;
  ;
  padding: 0px 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: block;
}

/* header section */
.input-search {
  padding: 8px 15px 8px 36px;
}

.logo-wrapper {
  float: left;
}

.search-section {
  display: none;
}

.logo img {
  width: 85px;
}

.top-header-nav-wrapper {
  float: right;
}

.top-header-section {
  padding: 15px 0;
}

.top-header-nav-wrapper ul li {
  display: inline-block;
  padding-left: 15px;
}

.top-header-nav-wrapper ul li:last-child {
  padding-bottom: 5px;
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.65);
}

.sidebar {
  display: none;
  background: #8ed1b7;
  width: 60%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  trasition: 0.2s;
  box-shadow: 3px 0px 8px 1px rgba(0, 0, 0, 0.4);
}

.sidebar-wrapper.active {
  right: 0;
}

.sidebar.active {
  display: block;
}

.sidebar-wrapper.active>body {
  position: fixed;
}

.sidebar ul li a {
  padding: 10px 25px;
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
}

.sidebar ul li a:hover {
  background: #ffffff;
  color: #000000;
}

.search-wrapper {
  position: relative;
  background: #8fd1b8;
  color: #ffffff;
  line-height: 20px;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12);
  font-family: 'Lato', sans-serif;
  margin: 10px 0;
}

.search-wrapper img {
  top: 50%;
  left: 10px;
  position: absolute;
  transform: translateY(-50%);
}

.input-search input[type="text"] {
  width: 100%;
  outline: none;
  background: transparent;
  border: 0;
  font-size: 16px;
  color: #ffffff;
}

.main-nav-wrapper {
  display: none;
}

.main-nav-wrapper ul li {
  line-height: 70px;
  padding: 0 25px;
  display: inline;
}

.main-nav-wrapper ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #45505e;
  letter-spacing: 2px;
}

.main-nav-wrapper ul li.active a {
  color: #b0decc;
}

.filter-nav {
  display: none;
}

.filter-search {
  display: none;
}

.mobile-menu-filter {
  padding: 20px 0;
}

.filter-burger img {
  width: 20px;
}

.filter-burger {
  margin-top: 10px;
  float: left;
}

#filter-search {
  float: right;
  width: 80%;
  margin-right: 12px;
}

.input-search input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: #858585;
}

.mobile-filter-nav {
  padding: 10px 0 20px 0;
  background: #ffffff;
  display: none;
}

.mobile-filter-nav ul li {
  float: left;
  line-height: 20px;
  padding: 0 10px;
}

.mobile-filter-nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #212b35;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.mobile-filter-nav ul li a:hover, .mobile-filter-nav ul li a:focus {
  color: #b5d9cc;
}

.product-card {
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 0 38px 0 rgba(231, 231, 231, 0.66);
  /* background-color: #ffffff; */
}


.product-status {
  height: 49px;
  position: absolute;
  bottom: 15%;
  left: -25px;
  width: 49px;
  background: #e7a8c6;
  border-radius: 100%;
}
.product-status.new{
  background:#8fd1b8;
}
.product-status p {
    padding: 13px 0;
    color: #ffffff;
    font-family: 'Titillium Web',sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.product-menu {
  width: 20%;
  float: left;
}

.product-menu ul li {
  padding: 15px 25px;
}

.product-image {
  position: relative;
  float: right;
  width: 80%;
}

.product-list ul li {
  margin-bottom: 30px;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.card-product-details {
  background: url('../images/card-separator-line.png') no-repeat;
  background-position: bottom;
  padding: 35px 25px;
  text-align: center;
}

.card-product-details .product-name {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 23px;
  text-transform: capitalize;
  color: #000000;
  padding-bottom: 15px;
}

.product-rates {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding-right: 5px;
}

.product-rates .original-product-rate {
  text-decoration: line-through;
  padding-right: 5px;
}

.product-rates .discount-product-rate {
  color: #8ed1b7;
}

.add-to-cart img {
  display: inline-block;
  padding-right: 10px;
}

.add-to-cart {
  padding: 25px 0;
  text-align: center;
}

.add-to-cart a {
  background: url('../images/cart.png') no-repeat;
  background-size: contain;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.add-to-cart a span {
  margin-left: 25px;
}

.add-to-cart a:hover {
  color: #8ed1b7;
  background: url('../images/cart.svg') no-repeat;
  background-size: contain;
}

/* page section starts */


/*banner section */


#banner img {
  max-width: 100%;
  height:auto;
}

/*feature section */
.feature-product-info {
  background: #8ed1b7;
}

.feature-rate-info {
  margin: 10px;
  position: relative;
}

.feature-product-info h1 {
  overflow: hidden;
  font-size: 98px;
  font-weight: 300;
  font-family: 'Roboto';
  color: rgba(0, 0, 0, 0.06);
}

.product-title {
  font-family: 'Roboto';
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
}

.rate-highlighter {
  height: 266px;
  position: relative;
  width: 266px;
  background: #e7a8c6;
  border-radius: 100%;
}
.rate-highlighter> p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.original-rate {
    top: 38%;
    left: 65%;
}

.original-rate {
  font-size: 16px;
  text-decoration: line-through;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.discount-rate {
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.brand-title {
  display: none;
  transform: rotateX(180deg) rotateY(180deg);
  right: 0;
  text-transform: capitalize;
  top: 15%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 23px;
  letter-spacing: 5px;
  writing-mode: vertical-rl;
  font-weight: 300;
}
.brand-wrapper{display: none;}
.info-content {
  padding: 20px 10px;
}

.product-details-info {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  padding: 20px 0;
}

.info-content a {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.info-content a:hover {
    color: black;
}

.info-content h3 {
  font-family: 'Titillium Web';
  font-size: 23px;
  color: #000000;
  font-weight: 300;
}

/* services-section */
#services-section {
  background: #202127;
}

#services-section ul li {
  width: 100%;
  float: left;
}

.service-wrapper {
  padding: 30px 0;
}

.service-image img {
  height: 59px;
  padding: 10px 40px;
  margin: 0 auto;
}

.service-title {
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin: 27px 0 0 8px;
}

.serveice-details {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #767676;
}

#services-section ul li:nth-child(odd) {
  background: #1d1e24;
}

#services-section ul li:nth-child(even) {
  background: #202127
}

/* footer section */
.top-footer-content {
  padding: 15px 0;
}

.about-us {
  /* display: none; */
}

.top-footer-wrapper .col {
  margin: 30px 0;
}

.footer-logo img {
  margin: 0 auto;
  width: 85px;
}

.company-details {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #7b7c85;
  font-size: 12px;
  display: none;
}

.company-details a {
  color: #7b7c85;
}
.company-details a:hover,.top-footer-content ul li a:hover {
    color: #8ed1b7;
}
.footer-nav ul {
  padding-right: 25px;
}

.footer-nav ul.right {
  float: right;
}

.footer-nav ul.left {
  float: left;
}

.footer-nav ul li {
  width: auto;
  line-height: 30px;
}

.footer-nav ul li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #7b7c85;
}

.footer-nav ul li a i {
  padding-right: 5px;
}

footer .title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #1d1e24;
  font-size: 18px;
}

.insta-logo img {
  display: inline;
  padding-right: 5px;
}

.instagram-pic-row {
  padding-top: 5px;
}

.instagram-pic-row ul li img {
  width: 100%;
}

.instagram-widget-wrapper ul {
  list-style: none;
}

.instagram-pic-row ul li {
  float: left;
  width: 23%;
  margin-left: 5px;
}

.instagram-pic-row ul li:first-child {
  margin-left: 0;
}

.bottom-footer {
  margin: 20px 0;
}

.payement-menthods {
  margin: 20px 0;
}

.copyright {
  font-size: 13px;
  color: #7b7c85;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

/* responsive media queries */
@media only screen and (min-width:480px){
  .product-list ul li{
    width:50%;
    float:left;
  }
  .product-card {
    width: 90%;
}
.product-image{
  width:65%;
}
.card-product-details .product-name{
  font-size:16px;
}
}




@media only screen and (min-width:768px) {


  header .container-fluid {
    background: url('../images/header-separator.png');
    background-position: bottom;
  }

  .top-header-section {
    line-height: 25px;
  }

  .search-section {
    display: block;
    float: left;
    width: 70%;
  }

  .logo-wrapper {
    width: 59.54%;
  }

  .main-nav-wrapper ul li a:hover {
    color: #ade1c5;
  }

  .logo {
    float: right;
    padding-right: 20px;
  }

  .search-section button {
    background: transparent;
    border: 0;
    outline: none;
    margin-right: 5px;
  }

  .search-section button img {
    width: 12px;
    height: 12px;
  }

  .search-section input[type="text"] {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #414141;
    line-height: 1.6;
    border: 0;
    padding: 5px 10px;
    background: transparent;
    width: calc(100% - 70px);
  }

  .search-section input::placeholder {
    color: #414141;
    letter-spacing: 1px;
  }

  .top-header-nav-wrapper li#toggle {
    display: none;
  }

  .search-wrapper {
    display: none;
  }

  .main-nav-wrapper {
    display: block;
    text-align: center;
  }

  .main-nav-wrapper ul li {
    padding: 0 15px;
  }

  .mobile-menu-filter {
    display: none;
  }

  .filter-nav {
    display: block;
    float: left;
  }

  .filter-nav-wrapper .search-section {
    float: right;
    width: auto;
  }

  .filter-nav-wrapper .search-section input[type="text"] {
    width: auto;
  }

  .desktop-filter-menu {
    padding: 10px 0 20px 0;
  }

  .desktop-filter-menu ul li {
    float: left;
    line-height: 20px;
    padding: 0 10px;
  }

  .desktop-filter-menu ul li.active {
    color: #b5d9cc;
  }

  .desktop-filter-menu ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #212b35;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .desktop-filter-menu ul li a:hover {
    color: #b5d9cc;
  }

  .filter-nav-wrapper {
    background: url(../images/filter-line.png) repeat-x;
    background-position: bottom;
    line-height: 40px;
  }

  .products-wrapper {
    margin: 50px 0;
  }
  .product-card{
    width:90%;
  }

  .product-menu {
    width: 20%;
}
.product-image{
  width:80%;
}

  .product-list ul li {
    float: left;
    width: 50%;
  }

  .feature-rate-info {
    float: left;
    width: 50%;
    margin: 0;
  }

  .feature-product-info {
    float: right;
    width: 50%;
    padding-bottom: 10px;
  }

  #features-section {
    margin-top: 50px;
  }

.rate-highlighter{
  left: 20%;
  top: 60px;

}


  #services-section ul li {
    width: 50%;
  }

  .serveice-details {
    display: block;
  }

  .about-us {
    display: block;
  }

  .top-footer-wrapper .col {
    float: left;
    width: 30.33%;
  }

  .top-footer-wrapper>.col:nth-child(2) {
    padding: 0 25px;
  }

  .footer-nav ul {
    width: 45%;
    padding: 0px;
  }

  .payement-menthods {
    float: right;
    margin: 0;
  }

  .copyright {
    line-height: 65px;
    float: left;
  }

  footer .container-fluid {
      background: url('../images/footer-borderline.png');
      background-position: top;
  }
  .bottom-footer {
    margin: 0;
    padding: 10px 0;
  }


  .footer-logo {
    padding-top: 30px;
  }

  .footer-logo img {
    margin: 0;
  }

  .company-details p {
    padding: 20px 0;
  }

  p.read-more {
    padding-top: 0;
  }

  .about-us.col {
    width: 20%;
  }

  .footer-nav.col {
    width: 40.66%;
  }

  .service-title {
    padding: 5px 0;
  }
}

@media only screen and (min-width:992px) {


.rate-highlighter{
  left:25%;
  top: 165px;
}
.feature-product-info h1{
  font-size:168px;
  padding: 25px 0;
}
.info-content{
  background: url(../images/feature-curl.png);
  padding: 50px 30px;
}
.brand-title{
  display:block;
}
.feature-rate-info{
  width:45%;
}
.brand-wrapper {
    display: block;
    float: left;
    width: 5%;
    position: relative;
}
.brand-wrapper img {
  max-width: 100%;
  padding: 10px 0;
  height: 500px;
}

  #services-section ul li{
    width:25%;
  }


  .product-list ul li {
    width: 33%;
  }

  .filter-nav-wrapper .search-section input::placeholder {
    text-align: left;
  }

.product-menu{
  width: 20%;
}

  .about-us.col, .footer-nav.col {
    width:30.33%;
  }

.company-details{
  display:block;
}
.about-us.col, .footer-nav.col,.instagram-widget-wrapper.col{
  width:33.33%;
}
.top-footer-wrapper>.col:nth-child(2){
  padding:0;
}

}

@media screen and min-width(1024px){
  .rate-highlighter{
      left:50%;
     top: 50px;
  }
}
